@import "values";


#main {
    background-color: tan;

    h1 {
        color: #ddd;
    }

    h2 {
        background-color: $brown1;
    }

    h3 {
        color: $brown1;
    }
}

#minor {
    background-color: silver;

    h1 {
        text-decoration: underline;
        @extend center;
    }

    h2 {
        text-decoration: line-through;
        @extend center;
    }
}